
.ipynb_checkpoints/lab1-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/lab1_notebook_intro-checkpoint.ipynb
.ipynb_checkpoints/lab2-checkpoint.ipynb
.ipynb_checkpoints/lab2_answered-checkpoint.ipynb
.ipynb_checkpoints/lab3-checkpoint.ipynb
.ipynb_checkpoints/lab4-checkpoint.ipynb
.ipynb_checkpoints/lab6-checkpoint.ipynb
